$highlight-color: #FFC71F;
$panel-color: #FFC71F;
$panel-size: 85vw;
$reactive-size: 1200px;

// dark theme
// $background: rgb(20, 20, 20);
// $main-text-color: white;
// $panel-main: white;
// $panel-sub: rgb(216, 216, 216);

// light theme
$background: #FFFAEB;
$main-text-color: black;
$panel-main: white;
$panel-sub: rgb(49, 49, 49);

// https://fonts.google.com/noto/specimen/Noto+Sans+Mono?query=Oxygen
// https://fonts.google.com/specimen/Bevan?categoryFilters=Feeling:%2FExpressive%2FLoud

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4em;
    background-color: $background;
    color: $main-text-color;
}

h1, h2, h3, h4 {
    font-family: "Special Gothic Expanded One", sans-serif;
    color: $highlight-color;
    margin-top: 0.1em;
    margin-bottom: 0.05em;
    word-spacing: 0.375em;
    letter-spacing: 0.05em;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-family: "Oxygen", sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.15em;
    word-spacing: 0.25em;
}

.digital_page {
    min-height: 101vh;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
    padding: 1em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.return_top_button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width:  3vw;
    height: 3vw;
    background-color: rgb(143, 143, 143);
    border-radius: 100%;
    
    p {
        font-family: "Oxygen", sans-serif;
        text-decoration: none;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 900;
        font-size: 2vw;
        margin: 0;
    }
}

.return_top_button:hover {
    background-color: grey;
}

.web_panel {
    color: $main-text-color;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;

    .title {
        font-weight: 700;
        margin-bottom: 0;
    }
}

hr {
    color: $main-text-color;
}

.media_div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 1.25em;
    margin-top: 3em;
    margin-bottom: 3em;
    height: 100%;

    .media {
        width: 100%;
        height: 100%;

        iframe {
            aspect-ratio: 16 / 9;
            border-radius: 1em;
        }
    }
}

.date {
    font-style: italic;
}

.sidebar {
    text-align: center;
    position: fixed;
    left: 0;
    right: $panel-size;
    bottom: 0;
    top: 0;
    background-color: $panel-color;
    place-items: center;
}

.sidebar_content {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

    a {
        text-decoration: none;
        font-weight: bold;
        color: $panel-sub;
        font-family: "Oxygen", sans-serif;
    }

    a:hover {
        color: $panel-main;
    }

    h1 {
        color: $panel-main;
        font-size: 2em;
    }
}

.social {
    display: grid;
    height: 4em;
    grid-template-columns: 4em 1fr 7.5fr;
    column-gap: 1.25em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    color: $main-text-color;
    font-weight: normal;

    img {
        aspect-ratio: 1;
        display: flex;
        width: 80%;
        height: 80%;
        padding: 10%;
        place-items: center;
    }
}

.social:hover {
    font-weight: bolder;
}

@media screen and (width <= $reactive-size) {
    .main_body {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    .sidebar {
        display: none;
    }
}

@media screen and (width > $reactive-size) {
    .main_body {
        width: $panel-size;
        margin-left: auto;
    }

    .sidebar {
        display: flex;
    }
}